<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Reply Notification</title>
  </head>
  <body>
    <div>
      <div>
        <h1>Hello <%= name %></h1>
        <p>New reply added to your question in video <%= title %></p>
        <p>Login First; to access resource</p>
        <p>Thanks for being part of us</p>
      </div>
    </div>
  </body>
</html>
