@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark body {
  color: white !important;
  background-color: black !important;
}

html.light body {
  color: black !important;
  background-color: white !important;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes changeBackgroundColor {
  0%,
  100% {
    opacity: 1;
  }
  16.5% {
    opacity: 0.9;
  }
  33.3% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  66.6% {
    opacity: 0.4;
  }
  83.5% {
    opacity: 0.3;
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}
